<h2><%= @recipe.name %></h2>
<p><%= @recipe.prep_time %></p>
<p><%= @recipe.cook_time %></p>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.instructions %></p>
<p><%= @recipe.source %></p>
<ul>
  <% @recipe.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>
