<h2><%= @recipe.name %></h2>
<p><%= link_to 'Edit', edit_recipe_path %> | <%= link_to 'Delete', recipe_path, method: :delete, data: {confirm: "Are you sure?"} %></p>
<%= show_non_blank_field "Prep Time", @recipe.prep_time %>
<%= show_non_blank_field "Cook Time", @recipe.cook_time %>
<p><strong>Ingredients:</strong></p>
<p><%= simple_format(@recipe.ingredients) %></p>
<p><strong>Instructions:</strong></p>
<p><%= simple_format(@recipe.instructions) %></p>
<p><strong>Source:</strong> <%= auto_link @recipe.source %></p>
<h4>Tags</h4>
<div>
  <% @recipe.tags.each do |tag| %>
    <%= div_for tag, :class => 'col-sm-2 col-md-3' do %>
      <div><%= link_to tag.name, tag %></div>
    <% end %>
  <% end %>
</div>





