  <% @recipes.each do |recipe| %>
    <%= div_for recipe, :class => 'col-sm-4 col-md-5 recipe-blocks' do %>
      <h3><%= link_to recipe.name, recipe %></h3>
      <p><%= recipe.prep_time %></p>
      <p><%= recipe.cook_time %></p>
    <% end %>
  <% end %>
<div class='col-sm-8 col-md-8 text-center'>
  <h3><%= link_to 'View All', recipes_path %></h3>
</div>




